#file{
    display: none;
}
body{
    background-color: #ffffff;
}
.card{
    display: inline-block;
    margin: 11px 20px;
}
.p-lg-5 {
    padding: 0rem!important;
}
.p-md-5 {
    padding: 0rem!important;
}
.mb-5, .my-5 {
    margin-bottom: 2rem!important;
}
.mt-5, .my-5 {
    margin-top: 2rem!important;
}
@media (min-width: 768px){
.m-md-3 {
    margin: 0rem!important;}
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }